body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #333;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
button {
  background-color: red;
  color: black;
  padding: 30px 60px; /* Increased padding */
  font-size: 2.5em; /* Increased font size */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px 0; /* Increased margin for more spacing */
}
button:hover {
  background-color: darkred;
}
@media (max-width: 600px) {
  h1 {
      font-size: 2em;
  }
  button {
      padding: 20px 40px; /* Adjusted padding for smaller screens */
      font-size: 2em; /* Adjusted font size for smaller screens */
  }
}
